body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

body{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	background-color: #FFFFFF;
}

h1 {
	margin: 25px 0;
	/*margin: auto;*/
	font-size: 3em;
	line-height: 1.5em;
	font-family: Georgia;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #8E0B00;
	text-align: center;
}

.banner img {
	width: 100%;
	height: 150px;
}

.wrap{
	margin: auto;
	max-width: 1000px;
}

/* tham khảo lại bài BLOG*/
.main-menu {
	position: relative;
	background-color: grey;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}

/*chọn ra tất cả thẻ a, nằm trong element có id là main-menu*/
/* tham khảo lại bài BLOG*/
.main-menu a {
	font-size: 30px;
	color: red;
	text-decoration: none;
	padding: 15px;
}

/*.main-content {
	float: left;
}
*/
.col{
	float: left;
	width: 33.33333333333%;
	padding: 15px;
	/*position: relative;*/
}
/*bài transition*/
.thumb{
	padding: 4px;
	/*border: 1px solid #ddd;*/
	border: 1px solid red;
	cursor: pointer;
}

.thumb img{
	vertical-align: middle;
	opacity: 1;
	/*transition: opacity 0.5s linear, max-width 1s linear;*/
	/*transition: all 0.5s ease-in-out;*/
	height: 199px;
}

.thumb:hover img{
	/*opacity: 0.5;*/
	/*max-width: 70%;*/
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}
